
@mixin inline-block() {
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
}

.publish-confessions{
  background-color: #F2FBF7;
  padding: 20px;
  margin-bottom: 10px;

  input{

    width: 1px;
    height: 1px;

  }

  .fileinput-button input{
    position:absolute;
    right: 0px;
    top:0px;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 1px;
  }

  .mgb10{

    margin-bottom: 10px;

  }

  .publish-confessions textarea{

    padding-bottom: 10px;
  }

  .pushbutton{

    background-color: #00b5ad;
    color: white;


  }


  .clear{
    clear: both;

  }


}



.confessions-contents{


  .panel-body{
    padding: 0px;
  }

    .confession-content{
      //margin-bottom: 1em;
      float: left;
      width: 100%;

      .images-view{
      .clearfix::after {
         display: block;
         content: "";
         clear: both;
       }

        .photos{
          margin: 0;
          padding: 0;
          list-style: none;

          li{
            float: left;
            width: 33.3%;
            //height: 33.3%;
            margin: 0 -1px -1px 0;
            border: 1px solid transparent;
            overflow: hidden;
            padding: 0;
            img{
              width: 100%;
              cursor: -webkit-zoom-in;
              cursor: zoom-in;

            }
          }


        }

      }

      .fh5co-property.box {
        background: $brand-white;
        text-align: left;
        width: 100%;
        float: left;
        padding: 0;
        margin-bottom: 0px;
        //-webkit-box-shadow: 4px 11px 35px -14px rgba(0,0,0,.5);
        //-moz-box-shadow: 4px 11px 35px -14px rgba(0,0,0,.5);
        //-ms-box-shadow: 4px 11px 35px -14px rgba(0,0,0,.5);
        //-o-box-shadow: 4px 11px 35px -14px rgba(0,0,0,.5);
        //box-shadow: 4px 11px 35px -14px rgba(0,0,0,.5);
        div {
          margin-bottom: 0;
          //position: relative;
          img {
            margin: 1%;
          }
          img:nth-child(3n+3){
            padding-right: 0;


          }
        }
        // 用户交互样式
        .interactive {
          border-top: 1px solid lighten($brand-black, 94%);
          background: lighten($brand-black, 97%);
          padding: 5px;
          font-size: 20px;
          margin-bottom: 0;

          a{
            margin-left: 20px;
            .number{

              font-size: 12px;
            }

          }



          > span {
            margin-right: 10px;
            strong {
              color: $brand-primary;
            }
          }
        }


        .fh5co-property-innter {
          padding: 30px 30px 30px 30px;
          padding-bottom: 10px;
          .avatar-box{
            margin-left: -20px;
            img.img-thumbnail{
              width: 44px;
              height: 44px;
            }
            .name{
              &:after{
                clear: both;
              }

              .timeago{
                color: #8c8c8c;
                font-size: 12px;

              }

              //line-height: 44px;
              font-size: 16px;
              padding-left: 6px;
              color: #555;

            }

          }
          p {
            color: #96a0ae;
            &:last-child {
              margin-bottom: 0;
            }
          }
          p.content {
            padding-top: 5px;
            margin-bottom: 5px;
            color: #666;
            font-size: 18px;
          }


        }

        .user-info{

          background-color: #f8f8f8;
          //background-color: #F2FBF7;
          margin-top: 10px;
          font-size: 10px;
        }
      }

    }

}




